@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight:normal;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
/*전체 페이지*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
    word-break: keep-all;
}
ul, li {
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    /* white-space: nowrap; */
}
ul {
    margin-bottom: 2px;
}
li {
    margin: 0.5%;
}
a{text-decoration: none;}
a:link{color:#444;}
a:visited{color:#444;}

::selection {
    background-color: #BDD600;
}
body{
    height: 1; 
    color: #444;
    white-space: normal; 
    word-wrap: break-word; 
    line-height: 1;
}
#wrap{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
}

.yelgcolor {
    color: #BDD600;
}

.yelgback {
    background-color: #BDD600;
    border: none;
}

/* 헤더 */
header{
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
}
.header_inner{
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}
.header_inner{
    display: inline-block;
    display: flex;
    align-items: center;
}
.header_inner .img{
    background: url(../../img/logo_02.png) no-repeat center;
    background-size: 100%;
    width: 120px;
    height: 40px;
    margin-left: 13px;
}
.header_inner span{
    padding-top: 3px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 900;
}
/* 사이드 메뉴 */
#container{
    display: flex;
}
#container > .sidebar{
    position: fixed;
    top: 40px;
    float: left;
    width: 12%;
    height: 100%;
    align-items: stretch;
    background-color: rgb(240, 240, 240);
}
#container > .contents{
    position: fixed;
    top: 40px;
    right: 0;
    float: right;
    width: 88%;
    height: 100%;
    align-items: stretch;
    /* 배경 입시 선정 */
    background-color: white;
    padding-top : 80px; padding-left: 100px;
}
#container > .sidebar > nav li{
    display: none;
}
#container > .sidebar > nav{
    padding-top: 20px;
}
#container > .sidebar > nav ul{
    width: 80px;
    margin: 25px 0px 25px 20px;
    font-size: 16px;
    font-weight: 900;
}
#container > .sidebar > nav li{
    font-size: 11px;
    margin: 5px 0;
    padding-left: 5px;
    width: 125px;
}
#container > .contents > .contwrap{
    width: 1000px;
}
.contents > .contwrap > .event{
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.contents > .contwrap .event > .title{
    font-size: 1.1rem; 
    font-weight: 700;
    display: inline;
    align-self:flex-start;
}
.contents > .contwrap > .event_wrap > .event_edit table {
    margin: 15px auto 0;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    table-layout: fixed;
}
.contents > .contwrap > .event_wrap > .event_edit th {
    height: 43px;
    font-weight: bold;
    text-align: left;
    background-color: #f2f2f2;
}
.contents > .contwrap > .event_wrap > .event_edit th.right {
    text-align: center;
}
.contents > .contwrap > .event_wrap > .event_edit input.tit {
    font-weight: bold;
    width: 98%;
    height: 35px;
    text-indent: 5px;
    outline: none;
}
.contents > .contwrap > .event_wrap > .event_edit th.botbor {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    text-indent: 5px;
}
.contents > .contwrap > .event_wrap > .event_edit td {
    padding: 5px 0;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}
.calandfile{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    vertical-align: middle;
}
.contents > .contwrap > .event_wrap > .event_edit .evndate:first-child {
    margin-left: 15px;
}
.contents > .contwrap > .event_wrap > .event_edit .evndate{
    display: inline;
    font-size: 11px;
    font-weight: bolder;
    text-indent: 3px;
    height: 26px;
    outline: none;
}
.file-upload {
    display: inline-block;
}
.calandfile input[type="text"]{
    width: 250px;
    height: 26px;
    font-size: 11px;
    font-weight: 900;
    text-indent: 7px;
    outline: none;
}
.file-upload label {
    padding: 6px 3px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    background-color: #BDD600;    
    width: 80px;
    height: 26px;
    margin-left: 3px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.file-upload input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.contents > .contwrap > .event_wrap > .event_edit td.content_txt {
    word-spacing: 4px;
    letter-spacing: 1px;
    border-bottom: 1px solid grey;
    padding: 5px;
}
.contents > .contwrap > .event_wrap > .event_edit td.content_txt img {
    display: block;
    margin: auto;
    width: 330px;
    height: 300px;
}
.contents > .contwrap > .event_wrap > .event_edit .event_content {
    width: 100%;
    resize: none;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid grey;
    height: 120px;
    outline: none;
}

.contents > .contwrap > .event_wrap > .event_edit .footer{
    width: 1000px;
    text-align: right;
}
.contents > .contwrap > .event_wrap > .event_edit .butt {
    margin-top: 5px;
    text-align: center;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #BDD600;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.contents > .contwrap > .event_wrap > .event_edit .canc_btn {
    background-color: #fff;
    border: 3px solid #BDD600;
}

/* 모달창  수정 취소*/
#modal_iseditcancel {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0; right: 0; top: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal_iseditcancel > #modal_iseditcancel_content {
    width: 400px;
    height: 300px;
    margin: 0 auto 30px;
    padding-top: 30px;
    border-radius: 5px;
    border: 3px solid #BDD600;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
#modal_iseditcancel_title {
    margin-top: 50px;
    margin-bottom: 100px;
}
#modal_iseditcancel > #modal_iseditcancel_content button {
    font-size: 14px;
    font-weight: 900;
    width: 100px;
    height: 40px;
    background-color:#BDD600;
    border: none;
    border-radius: 2px ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 5px;
    cursor: pointer;
}

#modal_iseditcancel > #modal_iseditcancel_content .canccomplete {
    border: 3px solid #BDD600;
    background-color: #fff;
}

/* 모달창 수정 완료*/
#modal_isedit {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0; right: 0; top: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal_isedit > #modal_isedit_content {
    width: 400px;
    height: 300px;
    margin: 0 auto 30px;
    padding-top: 30px;
    border-radius: 5px;
    border: 3px solid #BDD600;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
#modal_isedit_title {
    margin-top: 50px;
    margin-bottom: 100px;
}

#modal_isedit > #modal_isedit_content input {
    font-size: 14px;
    font-weight: 900;
    width: 100px;
    height: 40px;
    background-color:#BDD600;
    border: none;
    border-radius: 2px ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 5px;
    cursor: pointer;
}

#modal_isedit > #modal_isedit_content input.uncomplete {
    border: 3px solid #BDD600;
    background-color: #fff;
}