@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight:normal;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
/*전체 페이지*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
    word-break: keep-all;
}
ul, li {
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    /* white-space: nowrap; */
}
ul {
    margin-bottom: 2px;
}
li {
    margin: 0.5%;
}
a{text-decoration: none;}
a:link{color:#444;}
a:visited{color:#444;}

::selection {
    background-color: #BDD600;
}
body{
    height: 1; 
    color: #444;
    white-space: normal; 
    word-wrap: break-word; 
    line-height: 1;
}
#wrap{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
}

.yelgcolor {
    color: #BDD600;
}

.yelgback {
    background-color: #BDD600;
    border: none;
}

/* 헤더 */
header{
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
}
.header_inner{
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}
.header_inner{
    display: inline-block;
    display: flex;
    align-items: center;
}
.header_inner .img{
    background: url(../../img/logo_02.png) no-repeat center;
    background-size: 100%;
    width: 120px;
    height: 40px;
    margin-left: 13px;
}
.header_inner span{
    padding-top: 3px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 900;
}
.header_inner .logout{
    display: flex;
    position: fixed;
    right: 130px;
    font-size: 14px;
    font-weight: bolder;
}
.header_inner .logout p{
    padding-top: 6px;
    margin-right: 3px;
}
.header_inner .logout .nim{
    width: 20px;
    border: none;
    outline: none;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    font-weight: bolder;
}
.header_inner .logout input[type="button"]{
    width: 100px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    background-color: #BDD600;
    color: white;
    border: none;
    letter-spacing: 1px;
}

/* 사이드 메뉴 */
#container{
    display: flex;
}
#container > .sidebar{
    position: fixed;
    top: 40px;
    float: left;
    width: 12%;
    height: 100%;
    align-items: stretch;
    background-color: rgb(240, 240, 240);
}
#container > .contents{
    position: fixed;
    top: 40px;
    right: 0;
    float: right;
    width: 88%;
    height: 100%;
    align-items: stretch;
    /* 배경 입시 선정 */
    background-color: white;
    padding-top : 80px; padding-left: 100px;
}
#container > .sidebar > nav li{
    display: none;
}
#container > .sidebar > nav{
    padding-top: 20px;
}
#container > .sidebar > nav ul{
    width: 80px;
    margin: 25px 0px 25px 20px;
    font-size: 16px;
    font-weight: 900;
}
#container > .sidebar > nav li{
    font-size: 11px;
    margin: 5px 0;
    padding-left: 5px;
    width: 125px;
}

#container > .contents > .contwrap{
    width: 1000px;
}
.contents > .contwrap > .search{
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.contents > .contwrap > .search > .title{
    font-size: 1.1rem; 
    font-weight: 700;
    display: inline;
    align-self:flex-start;
}
.contents > .contwrap > .searchwrap {
    background-color: #f2f2f2;
    padding: 15px;
    width: 1000px;
    height: 200px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
}
.contents > .contwrap >.searchwrap .searchwrap_t, .searchwrap_b {
    margin: 0 auto;
}
.contents > .contwrap input{
    border-radius: 2px;
    outline: none;
    width: 150px;
    height: 30px;
    text-indent: 8px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.contents > .contwrap .searchbox {
    width: 150px; 
    height: 30px;
    font-size: 14px;
    text-indent: 8px;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.contents > .contwrap >.searchwrap .searchwrap_t p{
    display: inline-block;
    margin: 0 10px;
}
.contents > .contwrap >.searchwrap .searchwrap_t > p:nth-child(1) input[type="text"]{
    width: 150px;
    height: 30px;
}
.contents > .contwrap >.searchwrap .searchwrap_t {
    margin: 20px;
}
.contents > .contwrap >.searchwrap .searchwrap_b p{
    display: inline-block;
    margin: 0 10px;
}
.contents > .contwrap >.searchwrap .searchwrap_b p input{
    margin: 0 5px;
    width: 180px;
}
.searchbox{
    color: #444;
}
.contents > .contwrap >.searchwrap > form > p input{
    margin-top: 20px;
    text-indent: 0px;
    height: 35px;
}