
#container > .contents .title{ 
    clear: both;
    font-size: 1.1rem; 
    font-weight: 700;
    margin-bottom: 20px;
}
#container > .contents > .btn_top input[type="button"]{
    width: 150px;
    height: 40px;
    background-color:#BDD600;
}
#container > .contents > .contents_main{
    width: 1000px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}
#container > .contents > .contents_main table{
    border-collapse: collapse;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#container > .contents > .contents_main tr:first-child{
    border-bottom: 1px solid gray;
    background-color: #F2F2F2;
    height: 40px;
}
#container > .contents > .contents_main tr:first-child td{
    width: 333px;
}
#container > .contents > .contents_main tr td{
    height: 40px;
}
#container > .contents > .btn_box{
    width: 1000px;
    display: flex;
    justify-content: right;
}
#container > .contents > .btn_box input[type="button"]{ 
    width: 150px;
    height: 30px;
    border-radius: 2px;
    background-color:#BDD600;
    clear: both;
    border: 0;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}